.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chip-party {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 10px;
}

.chip-party > .MuiChip-root {
  /*font-family: "Gemunu Libre", sans-serif;*/
  font-size: 0.85em;
  margin: 0px 8px 8px 0px;
}

.MuiListItem-root {
  overflow: hidden;
}

.MuiChip-root > .svg-inline--fa {
  padding-left: 5px;
}

.MuiChip-root > .MuiSvgIcon-root {
  scale: 0.9;
}

.form {
  display: inline-block;
  justify-content: center;
}

.form input {
  width: 250px;
  margin: 10px;
}

.main .name {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 10px;
  color: white;
}

.main .role {
  font-size: 1.6em;
  color: white;
  margin-bottom: 10px;
}

.experience > .MuiPaper-root {
  background-color: transparent;
  border: 4px solid #00001106;
  padding: 11px 15px 15px 15px;
  margin-bottom: 12px;
}

.experience .MuiPaper-root {
  text-align: right;
}

/*
.experience.education .MuiPaper-root {
  text-align: left;
}
*/

.experience .institution {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.7em;
  color: #39d353;
  opacity: 0.95;
}

.experience .role {
  font-size: 1.2em;
  font-weight: 400;
  color: white;
  margin-bottom: 3px;
}

.experience .period {
  font-size: 0.8em;
  margin-bottom: 10px;
  opacity: 0.7;
}

.MuiGrid-root > .section-header:not(:first-child) {
  margin-top: 10px;
}

.section-header {
  font-family: "Jura", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-weight: 100;
  color: #fc1;
  margin: 0;
  margin-bottom: -1px;
}

.section-header.elevated {
  margin-top: -48px;
}

.section-header > .icon {
  /*border-radius: 50%;
  border-width: 10px;
  border-color: #ff000033;*/
  height: 54px;
  width: 40px;
  margin-right: 10px;
  margin-bottom: -17px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#faux-github-header tfoot {
  color: #ffffffaa;
  font-size: 12px;
  line-height: 2.5em;
  text-align: left;
}

#faux-github-header #legend {
  float: right;
  display: flex;
}

#faux-github-header #legend span {
  margin: 2px;
}

#faux-github-header #legend .sample-day {
  margin-top: 11px;
}

#qr-code {
  position: absolute;
  top: 55px;
  right: 10px;
  width: 48px;
  height: 48px;
}

#short-bio {
  font-size: 0.875em;
  margin-top: 7px;
  text-align: left;
  opacity: 0.8;
}
