/***** FUTURE TO-DO's - MAKE THIS DYNAMIC CSS *****

Hover Color: #ffcc11

**************************************************/

body {
  background-color: #0f1217 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.chip-party {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 10px;
}

.chip-party .MuiChip-root {
  /*font-family: "Gemunu Libre", sans-serif;*/
  font-size: 0.85em;
  margin: 0px 8px 8px 0px;
}

.close-box {
  float: right;
  cursor: pointer;
}

.MuiListItem-root {
  overflow: hidden;
}

.MuiChip-root > .svg-inline--fa {
  padding-left: 5px;
}

.MuiChip-root > .MuiSvgIcon-root {
  scale: 0.9;
}

.form {
  display: inline-block;
  justify-content: center;
}

.form input {
  width: 250px;
  margin: 10px;
}

.MuiListItem-root {
  border-bottom: 1px solid transparent;
}

a:hover .MuiListItem-root {
  border-bottom: 1px solid #ffcc1177;
  cursor: pointer;
  color: #ffffff;
}

a .main {
  text-decoration: none; /* This just won't seem to work. Not sure why. Using onClick instead of href to avoid the <a>-tag issue. */
}

.main .name {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 10px;
  color: white;
}

.main .role {
  font-size: 1.6em;
  color: white;
  margin-bottom: 10px;
}

.MuiListItemText-primary {
  font-size: 1.1em;
  font-weight: 500;
  color: #f7f7f7;
}

.experience .MuiPaper-root {
  background: transparent; /* #25282e; */
  padding: 0px; /*padding: 11px 15px 15px 15px;*/
  text-align: right;
}

.experience > .MuiPaper-root {
  border: 8px solid #25282e;
  margin-bottom: 12px;
}

/*
.experience.education .MuiPaper-root {
  text-align: left;
}
*/

.experience .MuiAccordionSummary-content {
  display: block;
}

.experience .institution {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 1.7em;
  color: #20e441;
  opacity: 0.95;
}

.experience .role {
  font-size: 1.2em;
  font-weight: 400;
  color: white;
  margin-bottom: 3px;
}

.experience .period {
  font-size: 0.8em;
  margin-bottom: 10px;
  opacity: 0.7;
}

.incomplete {
  color: #ff35c9;
  margin: 4px;
}

.incomplete .MuiListItemText-primary {
  color: #ff35c9;
}

.MuiDialogContent-root img {
  width: 100%;
}

.MuiGrid-root > .section-header:not(:first-child) {
  margin-top: 14px;
  margin-bottom: 5px;
}

.MuiListItemText-root {
  width: 100%;
}

.MuiListItem-root .icon {
  margin-left: 0px;
  margin-right: 15px;
  text-align: center;
  width: 30px;
}

.MuiListItem-root .icon svg {
  scale: 1.3;
}

a .MuiListItemText-root {
  text-decoration: none !important;
}

a:hover .MuiChip-outlined {
  border: 1px solid #ffcc1177 !important;
}

a:hover .MuiListItem-root .MuiListItemText-secondary {
  color: #ffffff; /* #fff4bb; */
}

.section-header {
  font-family: "Jura", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-weight: 100;
  color: #fc1;
  margin: 0;
  margin-bottom: -1px;
}

.section-header.elevated {
  margin-top: -48px;
}

.section-header > .icon {
  /*border-radius: 50%;
  border-width: 10px;
  border-color: #ff000033;*/
  height: 54px;
  width: 40px;
  margin-right: 10px;
  margin-bottom: -17px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#awards .MuiListItem-root .icon svg {
  scale: 1.6;
}

#faux-github-header tbody td {
  padding: 1px;
}

#faux-github-header thead th {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
}

#faux-github-header tfoot {
  color: #ffffffaa;
  font-size: 12px;
  line-height: 2.2em;
  text-align: left;
}

#faux-github-header #legend {
  float: right;
  display: flex;
}

#faux-github-header #legend span {
  margin: 2px;
}

#faux-github-header #legend .sample-day {
  margin-top: 9px;
}

#qr-code-button {
  position: absolute;
  top: 54px;
  right: -5px;
  width: 50px;
  height: 50px;
  opacity: 0.9;
}

#qr-code-disclaimer {
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  opacity: 0.7;
  margin-top: 10px;
}

#short-bio {
  font-size: 0.875em;
  margin-top: 7px;
  text-align: left;
  opacity: 0.8;
}
